<div class="page-title">
    <div class="title_left">
        <h3>Selección <small>de personal</small></h3>
    </div>
</div>
<div class="clearfix"></div>

@Html.Partial("../Generales/TablaGeneral")

<script type="text/javascript">

    orden(7,"desc");

    function Guardar(ID, Status) {

        $.ajax({
            asyn: false,
            url: '../../../RecursosHumanos/GuardaPersonalSolicitudRH',
            type: 'POST',
            dataType: 'json',
            data: { psID: ID, psStatus: Status },
        })
            .done(function (data) {

                if (typeof (data.Success) === "undefined" || !data.Success) {
                    MensajesToastr("error", "Solicitud Procesada", "Error al Guardar");
                }
                else {
                    MensajesToastr("success", "Solicitud Procesada", "Registro Correcto");
                    $('#BodyPrincipal').load('../../../../RecursosHumanos/AutorizaRecontratacion');
                }
            })
            .fail(function (data) {
                MensajesToastrErrorConexion();
            });

        event.preventDefault();
    }
</script>
