@{
     ViewBag.Title = "SII";
     Layout = null;
}

<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta http-equiv="Expires" content="0" />
     <meta http-equiv="Pragma" content="no-cache" />
     <title>Inicio de Sesion SII</title>
     <link rel="shortcut icon" type="image/x-icon" href="../../Images/logo.ico" />
     @Styles.Render("~/Content/login")
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

     <div id="wrapper">
          <div class="vertical-align-wrap">
               <div class="vertical-align-middle">
                    <div class="auth-box font-texto ">
                         <div class="left">
                              <div class="content">
                                   <div class="alert text-center font-mensaje" role="alert"></div>
                                   <form class="form-auth-small" id="form_log" action="" method="post" accept-charset="utf-8">
                                        <div class="logo text-center">
                                             <img src="~/Images/logo.png" alt="Logo" width="5">
                                        <h4>Servicio no Disponible
                              </h4>
                                        </div>
                                                                             
                                   </form>
                              </div>
                         </div>
                         <div class="right">
                              <div class="overlay"></div>
                              <div class="content text">
                                   <h2 class="heading">Instituto Tecnol&oacute;gico de Tláhuac</h2>
                                   <div class="page-header">
                                        <h1>SII</h1>
                                        <h4>Sistema Integral de Información</h4>
                                   </div>
                              </div>
                         </div>
                         <div class="clearfix"></div>
                    </div>
               </div>
          </div>
     </div>

</body>
</html>
