<input type="hidden" id="hidRedirectIndex" value="@ViewData["RedirecIndex"]" />
<div class="x_panel">
     <div class="x_title">
          <div class="text-center">
               <h3>@ViewData["Mensaje"]</h3>
          </div>
     </div>
</div>
<script src="~/Scripts/ManejoDatos/Generales/AvisosGenerales.js"></script>
