<div class="page-title">
    <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-left">
        <h3>Registro de Horario <small>
               </small></h3>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h3>Horario de Jefe</h3>
    </div>
    <div class="col-md-10 center-margin center-block">
        <div class="x_content">
            <p>
                <h4>1.- Este modulo permite la captura de horario para docentes.</h4>
            </p>
            <p>
                <h4>2.- Una ves capturado y firmado el horario solo podra ser visualizado.</h4>
            </p>

            <p>
                <h4>3.- Si solicita editar de nuevo su horario, pongase en contacto con su subdirector.</h4>
            </p>
            <div class="form-group alignright">
                <a class="btn btn-success" href="/Generales/CargaHorarioJefe" data-ajax-update="#BodyPrincipal" data-ajax-mode="replace" data-ajax-method="GET" data-ajax="true"> Revisar Horario </a>
            </div>

        </div>
    </div>
</div>