<label>
     Horario
</label>
<div class="x_panel">
     <div class="x_content center-block">
          <div class="row center-block">
               <div class="form-group verde casilla-horario col-lg-1">
                    <h6>Lunes</h6>
                    <input type="time" class="transparente" id="txtLunesIni" />
                    <h6>a</h6>
                    <input type="time" class="transparente" id="txtLunesFin" />
               </div>

               <div class="form-group lila casilla-horario col-lg-1">
                    <h6>Martes</h6>
                    <input type="time" class="transparente" id="txtMartesIni" />
                    <h6>a</h6>
                    <input type="time" class="transparente" id="txtMartesFin" />
               </div>

               <div class="form-group amarillo casilla-horario col-lg-1">
                    <h6>Miércoles</h6>
                    <input type="time" class="transparente" id="txtMiercolesIni" />
                    <h6>a</h6>
                    <input type="time" class="transparente" id="txtMiercolesFin" />
               </div>

               <div class="form-group naranja casilla-horario col-lg-1">
                    <h6>Jueves</h6>
                    <input type="time" class="transparente" id="txtJuevesIni" />
                    <h6>a</h6>
                    <input type="time" class="transparente" id="txtJuevesFin" />
               </div>

               <div class="form-group gris casilla-horario col-lg-1">
                    <h6>Viernes</h6>
                    <input type="time" class="transparente" id="txtViernesIni" />
                    <h6>a</h6>
                    <input type="time" class="transparente" id="txtViernesFin" />
               </div>

               <div class="form-group azul casilla-horario col-lg-1">
                    <h6>Sabado</h6>
                    <input type="time" class="transparente" id="txtSabadoIni" />
                    <h6>a</h6>
                    <input type="time" class="transparente" id="txtSabadoFin" />
               </div>
          </div>

     </div>
</div>
<script src="~/Scripts/ManejoDatos/Generales/HorarioGeneral.js"></script>