
<div class="modal fullscreen-modal fade bs-example-modal-lg1" id="divModalGeneral" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="divModalVistaParcial">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
