<!-- Modal -->
<div class="modal fade" id="divModalVisorPDF" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="divVisor" class="row">
                        <div class="col-md-12 center-margin center-block">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h3>Vista Previa</h3>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    @Html.Partial("../Generales/VisorPDF")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
