
<style type="text/css">
    centrador {
        position: relative;
        width: 400px;
        height: 400px;
        background-color: red;
    }

    imagen {
        position: absolute;
        width: 100px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
</style>
<div id="modCargando" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body centrador">
                <img src="~/Images/efectos/tecnm_load.gif" />
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>