<div class="modal fade" id="ModalAlertaConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Confirmación de acción requerida</h3>
            </div>
            <div class="modal-body">
                <form data-parsley-validate class="form-horizontal form-label-left">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3 id="replace"></h3>                   
                        <input type="hidden" id="hidModalAlertaConfirmacion" />
                    </div>
                    <div class='col-md-12 col-sm-12 col-xs-12'>
                        <button id="btnAlertaConfirmar" class="btn btn-success" data-dismiss="modal" style="margin-top:10px">Confirmar</button>
                        <button class="btn btn-secondary" data-dismiss="modal" style="margin-top:10px">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    function AsignaValorTxtAlertaConfirmacion(valor) {
        $("#txtValorAlertaConfirmacion").val(valor);
    }
    function AsignaValorHidAlertaConfirmacion(valor) {
        $("#hidModalAlertaConfirmacion").val(valor);
    }
    function RegresaValorHidAlertaConfirmacion(valor) {
        return $("#hidModalAlertaConfirmacion").val();
    }
</script>