<link rel="stylesheet" href="~/Content/themes/Tecnologico.css" />

<div class="page-title">
    <div class="title_left">
        <h3>Conoce más nuestra comunidad TecNM</h3>
    </div>
</div>
<div class="clearfix"></div>

<div class="x_panel" id="General">

    <div class="col-md-8 col-sm-8 col-xs-8 center-margin center-block">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">

                <div class="col-md-12 col-sm-12 col-xs-12  card-body posicion">
                    <div class="div-img">
                        <a onclick="Muestra()">
                            <img class="img" src="~/Images/mision_vision_valores_politicas/mision_vision.png" />
                            <div class="title h5 text"> Saber más</div>
                        </a>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 card-body posicion">
                    <div class="div-img">
                        <a onclick="Muestra1()">
                            <img class="img" src="~/Images/mision_vision_valores_politicas/valores_generales.png" alt="" />
                            <div class="title1 h5 text"> Saber más </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="visible-md visible-lg">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class=" col-md-12 col-sm-12 col-xs-12 card-body posicion2">
                        <div class="div-img">
                            <a onclick="Muestra2()">
                                <img class="img " src="~/Images/mision_vision_valores_politicas/politicasGenerales.png" alt="" />
                                <div class="title1 h5 text"> Saber más </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="visible-sm visible-xs">
                <div class="col-md-12 col-sm-12 col-xs-12 card-body posicion">
                    <div class="div-img">
                        <a onclick="Muestra2()">
                            <img class="img" src="~/Images/mision_vision_valores_politicas/politicas2.png" alt="" />
                            <div class="title1 h5 text"> Saber más </div>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="clearfix"></div>

    <!--Mision y Vision-->
    <div id="MyVText" class="col-md-12 col-sm-12 col-xs-12 div-hide">
        <div class="x_panel">
            <div class="x_title">
                <div>
                    <h3>Misión y Visión </h3>
                </div>
            </div>

            <div class="x_content">
                <div class="row">
                    <div class="visible-md visible-lg">
                        <img class="imagenes " src="~/Images/mision_vision_politicas/Mision.png" alt="" />
                    </div>

                    <div class="col-md-7 col-sm-7 col-xs-12 ">
                        <hr />
                        <h4> Misión TecNM</h4>
                        <hr />
                        <h4 class="texto">
                            Formar integralmente profesionales competitivos de la ciencia, la tecnología y otras áreas de conocimiento,
                            comprometidos con el desarrollo económico, social, cultural y con la sustentabilidad del país.
                        </h4>

                        <hr color="green" size="2" />
                        <h4>Misión TecNM Tláhuac</h4>
                        <hr color="green" size="2" />
                        <h4 class="texto">
                            Ofrecer un servicio educativo de calidad a través de la mejora continua, personal capacitado, compromiso global e infraestructura de vanguardia.
                        </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="visible-md visible-lg">
                    <img class="imagenes1 " src="~/Images/mision_vision_politicas/Vision.png" alt="" />
                </div>


                <div class="col-md-7 col-sm-12 col-xs-12">
                    <hr />
                    <h4>Visión TecNM</h4>
                    <hr />
                    <h4 class="texto">
                        El TecNM es una institución de educación superior tecnológica de vanguardia, con reconocimiento internacional por el
                        destacado desempeño de sus egresados y por su capacidad innovadora en la generación y aplicación de conocimientos.
                    </h4>

                    <hr />
                    <h4>Visión TecNM Tláhuac</h4>
                    <hr />
                    <h4 class="texto">
                        Ser una institución de alto desempeño académico, basada en la formación integral de profesionistas competitivos a nivel internacional con responsabilidad global.
                    </h4>
                </div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-info" onclick="Muestra3()">
                        REGRESA
                    </a>
                </div>
            </div>
        </div>
</div>

<!--Valores-->
<div id="ValoresText" style="display:none">
    <div class="x_panel">
        <div class="x_title">
            <div>
                <h3>Valores TecNM </h3>
            </div>

        </div>
        <div class="x_content">
            <div class="row">
                <div class="visible-md visible-lg">
                    <img class=" col-md-6 col-sm-6 col-xs-6" src="~/Images/mision_vision_politicas/ValoresGenerales.png" alt="" />
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <hr />
                    <h4 class="texto">
                        Los valores que manejamos en la institución son los que nos ayudan a identificarnos como seres humanos, como personas que estan al servicio de la educación,
                        que les gusta la actividad que desarrollan y que estan orgullosos de promover un servicio de calidad a la comunidad.
                    </h4>
                    <h4 class="texto">
                        ° Honestidad
                    </h4>
                    <h4 class="texto">
                        ° Respeto
                    </h4>
                    <h4 class="texto">
                        ° Trabajo en equipo
                    </h4>
                    <h4 class="texto">
                        ° Vocación de servicio
                    </h4>
                    <h4 class="texto">
                        ° Comunicación.
                    </h4>
                </div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-info" onclick="Muestra3()">
                        Regresar
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<!--Politicas-->
<div class="x_panel" id="PoliticasText" style="display:none">
    <div class="row">
        <div class="visible-md visible-lg">
            <img class="imagenes" src="~/Images/mision_vision_politicas/PoliticaIntegral.png" alt="" />
        </div>

        <div class="col-md-7 col-sm-12 col-xs-12">
            <hr />
            <h4> Politíca Integral TecNM</h4>
            <hr />
            <h4 class="texto">
                El TecNM establece el compromiso de implementar y orientar todos sus procesos estratégicos y actividades del proceso educativo,
                hacia la Calidad del Servicio Educativo y respeto del medio ambiente, dando cumplimiento a los requisitos del estudiante y partes interesadas,
                legislación ambiental aplicable y otros requisitos ambientales que se suscriban así como promover en su personal, estudiantes y partes interesadas
                la prevención de la contaminación y el uso racional de los recursos; mediante la implementación, operación y mejora continua de un Sistema de Gestión
                de Calidad conforme a la Norma ISO 9001:2015/NMX-CC-9001-IMNC-2015 y un Sistema de Gestión Ambiental conforme a la Norma ISO 14001:2015/NMX-SAAIMNC-14001-2015,
                coadyuvando a la conformación de una sociedad justa y humana con una perspectiva de sustentabilidad y ser uno de los pilares fundamentales del desarrollo
                sostenido y sustentable.
            </h4>

            &nbsp;

        </div>

        <div class="row ">
            <div class="visible-md visible-lg">
                <img class="imagenes1 " src="~/Images/mision_vision_politicas/PoliticaEnergetica.png" alt="" />
            </div>


            <div class="col-md-7 col-sm-12 col-xs-12">
                <hr />
                <h4>Politíca Energética TecNM</h4>
                <hr />
                <h4 class="texto">
                    El Tecnológico Nacional de México establece el compromiso de orientar todas las actividades del Proceso Educativo, hacia el respeto del medio ambiente,
                    mediante la implementación de su Sistema de Gestión de la Energía (SGEn) basado en la norma ISO 50001:2018, logrando la mejora continua de su desempeño
                    energético, utilizando como base el uso eficiente de la energía, asegurando la disponibilidad de la información y de los recursos para alcanzar los objetivos
                    y metas establecidas, así como cumplir con la legislación aplicable en materia energética, coadyuvando a ser uno de los pilares fundamentales del desarrollo sostenido,
                    sustentable y equitativo de la nación.
                </h4>
                <hr />
                <h4>Politíca Energética TecNM campus Táhuac</h4>
                <hr />
                <h4 class="texto">
                    El Tecnológico Nacional de México campus Tláhuac asume el compromiso de utilizar eficientemente 
                    la energía en sus instalaciones y actividades con el fin de mitigar impactos ambientales y contribuir 
                    con el desarrollo sostenido y equitativo del medio ambiente; a través de la implementación 
                    del Sistema de Gestión de la Energía (SGEn) basado en la norma ISO 50001:2018 y dando cumplimiento 
                    a los requisitos legales vigentes para alcanzar los objetivos y metas establecidas apoyados de los pilares 
                    fundamentales de nuestra institución, optimizando la tecnología y los procesos dentro del instituto 
                    mediante la mejora continua del sistema y de los recursos energéticos con los que se cuenta.
                </h4>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
        </div>
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;

    <div class="row ">

        <div class="visible-md visible-lg">
            <img class="imagenes " src="~/Images/mision_vision_politicas/PoliticaNoDiscriminacion.png" alt="" />


            <div class="col-md-7 col-sm-12 col-xs-12">
                <hr />
                <h4>Politíca de Igualdad Laboral y No Discriminación del Tecnológico Nacional de México</h4>
                <hr />
                <h4 class="texto">
                    El Tecnológico Nacional de México a través de su Director General, manifiesta su compromiso con la defensa de los derechos humanos, por lo que en la esfera
                    de su competencia garantizará el principio de igualdad sustantiva entre mujeres y hombres en el ejercicio de sus derechos laborales, así como el derecho
                    fundamental a la no discriminación en los procesos de ingreso, formación y promoción profesional, además de sus condiciones de trabajo, quedando prohibido en
                    maltrato, violencia y segregación de las autoridades hacia el personal y entre el personal en materia de cualquier forma de distinción, exclusión o restricción
                    basada en el origen étnico o nacional, apariencia física, cultura, sexo, genero, edad, discapacidad, condición social o económica, condiciones de salud, embarazo,
                    lengua, religión, opiniones, preferencias sexuales, estado civil, situación migratoria o cualquier otra, que tenga por efecto impedir o anular el reconocimiento
                    o el ejercicio de los derechos y la igualdad real de oportunidades.
                </h4>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-info" onclick="Muestra3()">
                    REGRESA
                </a>

            </div>
            &nbsp;
            &nbsp;

        </div>
    </div>
</div>
    <script src="~/Scripts/ManejoDatos/Generales/TecnologicoGeneral.js"></script>
