@* MODAL validar reporte bimestral1*@
<div id="ModalReporteBimestral1" class=" modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¿Esta seguro de validar los siguientes reportes?</h4>                                    
            </div>
            <form id="frmReporteBimestral1" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body">
                    <div class="form-group">
                        <ul>
                            <li>Reporte Bimestral</li>
                            <li>Evaluación Cualitativa</li>
                            <input id="txtCalificacion" type="number" max="4.00" min="0.00" step="0.001" class="form-control" placeholder="Ingrese calificación" required/>
                            <li>Autoevaluación Cualitativa</li>
                        </ul>  
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label>Número de Control</label>
                            <input type="text" class=" form-control" id="Controltxt" disabled />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-top:1px">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Partial("../Generales/TablaGeneral")
<script src="~/Scripts/ManejoDatos/Vinculacion/Bimestre1SS.js"></script>