<div class="clearfix"></div>
    <div class="page-title">
        <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-left">
            <h3>Candidatos al Servicio Social</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    @Html.Partial("../Generales/TablaGeneral")
<a class="btn btn-info" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#BodyPrincipal" href="/Vinculacion/ControlEscolarSS">
    Regresar al menú
</a>

