<!-- Modal -->
<div class="modal fade" id="validaTermino" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Validación de carta de termino</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="frmValidaCartaTermino" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body">
                    <h4>¿Deseas validar el siguiente número de control?</h4>
                    <input type="text" class="form-control" disabled id="txtNoControl" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Partial("../Generales/TablaGeneral")
<a class="btn btn-info" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#BodyPrincipal" href="/Vinculacion/ControlEscolarRP">
    Regresar al menú
</a>
<script src="~/Scripts/ManejoDatos/Vinculacion/CartaTerminoRP.js"></script>