
<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Solicitud Carta de Presentación</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                <a class="btn btn-app btn-block" id="btnexterno">
                    <span class="fa fa-user green"></span>
                    Solicitudes Externo
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                <a class="btn btn-app btn-block" id="btninterno">
                    <span class="fa fa-user blue"></span>
                    Solicitudes Interno
                </a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ManejoDatos/Vinculacion/CartaPresentacion.js"></script>