@Html.Partial("../Generales/TablaGeneral")
<a class="btn btn-info" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#BodyPrincipal" href="/Vinculacion/ControlEscolarRP">
    Regresar al menú
</a>