
<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>Validación de Reportes</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                <a class="btn btn-app btn-block" id="btnbimestre1">
                    <span class="fa fa-list-alt green"></span>
                    Bimestre 1
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                <a class="btn btn-app btn-block" id="btnbimestre2">
                    <span class="fa fa-list-alt green"></span>
                    Bimestre 2
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                <a class="btn btn-app btn-block" id="btnbimestre3">
                    <span class="fa fa-list-alt green"></span>
                    Bimestre 3
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:center">
                <a class="btn btn-app btn-block" id="btnbimestre4">
                    <span class="fa fa-list-alt green"></span>
                    Reporte Final
                </a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ManejoDatos/Vinculacion/ReportesSS.js"></script>