<div class="center-block">
     <img src="~/Images/encabezado.png" class="visible-lg">
     <img src="~/Images/encabezado.png" class="visible-md">
     <img src="~/Images/ITT.jpg" class="visible-sm">
     <img src="~/Images/logo.png" alt="Logo" class="visible-xs" width="50">
</div>