
<div class="visible-md visible-lg text-center" >
    <div class="col-md-3">
        <img src="~/Images/Logo_tecnm.png" height="38" alt="logo tec méxico" /><a href="http://www.tecnm.mx/" style="color:white;">
    Tecnológico Nacional de México.
</a>
    </div>
    <div class="col-md-3" style="color:white;">
        Copyright © Todos los Derechos Reservados
    </div>
    <div class="col-md-3">
        <a href="https://ittlahuac.edu.mx" style="color:white;">Instituto Tecnológico de Tláhuac </a><img src="~/Images/logo.png" height="38" alt="logo tec tláhuac" />
    </div>
</div>

<div class="visible-xs visible-sm" style="color:white;">
    <div class="text-center">
        <a href="http://www.tecnm.mx/" style="color:white;"> Tecnológico Nacional de México. </a>
        Copyright © Todos los Derechos Reservados | <a href="https://ittlahuac.edu.mx" style="color:white;">Instituto Tecnológico de Tláhuac </a>
    </div>
</div>
<div class="clearfix"></div>