<div class="container body">
     <div class="main_container">
          <!-- top navigation -->
          <div class="top_nav">
               <div class="nav_menu">
                    <nav>
                         <div class="nav toggle">
                              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                         </div>
                    </nav>
               </div>
          </div>
          <!-- /top navigation -->
          <div class="col-md-3 left_col">
               <div class="left_col scroll-view">

                    <div class="profile clearfix">
                         <img src="~/Images/logo_tecnm_gray.png" alt="logo tecnm" class="tecnm_gray_alpha">
                         <div class="picture_profile">
                              <img class="img_profile_white" height="65" width="80" src="~/Images/jaguar.png" alt="">
                         </div>
                         <div style="color:white; text-align: center;">
                              <div class="div-dotted margin_top_15"></div>
                              <div class="div_profile_info ">
                                   <h6>Bienvenido</h6>
                                   <p>@ViewData["mensaje"]</p>
                              </div>
                              <div class="div-dotted"></div>
                         </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                         <div class="menu_section">
                              <ul class="nav side-menu">
                                   <li>
                                        <a href="../Home/Index">
                                             <h4><i class="fa fa-home"></i>Iniciar Sesión</h4>
                                        </a>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
