@using Sapei.Framework.Utilerias;
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <img src="~/Images/logo_tecnm_gray.png" alt="logo tecnm" class="tecnm_gray_alpha">
            <div class="picture_profile">
                <img class="img_profile_white" height="65" width="80" src="~/Images/jaguar.png" alt="">
            </div>
            <div style="color:white; text-align: center;">
                <div class="div-dotted margin_top_15"></div>
                <div class="div_profile_info ">
                    <h6>Bienvenido</h6>
                    <p>@SesionSapei.Sistema.Sesion.Usuario.Nombre</p>
                </div>
                <div class="div-dotted"></div>
            </div>
        </div>
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" >
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li>
                        <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#BodyPrincipal" href="/Home/Bienvenida"><i class="fa fa-home"></i> Inicio</a>
                    </li>
                    @Html.Partial("_NewMenu")
                </ul>
            </div>
        </div>
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Configuración">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>

            <a data-toggle="tooltip" data-placement="top" title="Cerrar Sesión" href="/Home/CerrarSesion">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle info-number user-profile" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/Images/jaguar.png" alt=""> @SesionSapei.Sistema.Sesion.Usuario.Nombre
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">

                        @{
                            if (SesionSapei.Sistema.Sesion.Usuario.RolUsuario == Sapei.Framework.Configuracion.enmRolUsuario.ALU
                                || SesionSapei.Sistema.Sesion.Usuario.RolUsuario == Sapei.Framework.Configuracion.enmRolUsuario.DOC)
                            {
                                <li><a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#BodyPrincipal" href="../../Generales/PerfilUsuario"> Perfil</a></li>
                            }
                            else if (SesionSapei.Sistema.Sesion.Usuario.RolUsuario == Sapei.Framework.Configuracion.enmRolUsuario.ASP)
                            {
                                <li><a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#BodyPrincipal" href="../../Aspirante/RegistroDatos"> ...</a></li>
                            }
                        }
                        @{
                            if (SesionSapei.Sistema.Sesion.Usuario.RolUsuario != Sapei.Framework.Configuracion.enmRolUsuario.ALU
                                || SesionSapei.Sistema.Sesion.Usuario.RolUsuario != Sapei.Framework.Configuracion.enmRolUsuario.ASP)
                            {
                                <li><a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#BodyPrincipal" href="../../Generales/CambiarContraseña"> Cambiar Contraseña</a></li>
                            }
                        }
                                <li><a href="/Home/CerrarSesion"><i class="fa fa-sign-out pull-right"></i>Cerrar Sesión</a></li>
                            </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

@Html.Partial("../Generales/ModalCargando")
