<div class="page-title">
    <div class="title_left">
        <h3>
            Asignación Temporal de Docentes
            a otro Departamento
        </h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="x_panel">
    <div class="clearfix"></div>
    <div id="divSeleccion">
        <br />
        <div class="col-md-4 col-sm-4 col-xs-12"></div>

        <label style="font-size:medium">Seleccione el personal a prestar</label>
        <br />
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">

            @{
                if (ViewData["Personal"] != null)
                {
                    <select class="form-control" id="cboPersonal">
                        @foreach (System.Data.DataRow dr in (ViewData["Personal"] as System.Data.DataTable).Rows)
                        {
                            <option value="@dr.ItemArray[0].ToString().Trim()">@dr.ItemArray[1].ToString().Trim()</option>
                        }
                    </select>
                }
            }

        </div>
        <br />
        <br />
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <label style="font-size:medium">Seleccione el departamento </label>
        <br />
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            @Html.Partial("../Generales/ComboGeneral")
            <br />
            <center><button class="btn btn-default btn-success" type="button" id="btnBuscar1" onclick="Guardar();">Prestar</button></center>
            <br />


        </div>
    </div>

    @Html.Partial("../Generales/TablaGeneral")

</div>

        <script type="text/javascript">

            $("#cboPeriodo").removeClass("pull-right");
            $('label[for=cboPeriodos]').remove();




            function Guardar() {

                var docente = $("#cboPersonal").val();
                var depto = $("#cboGeneral").val();

                var opcion = confirm("¿Esta seguro que desea prestar este docente?");
                if (opcion == true) {

                    $.ajax({
                        url: '../../../Academicos/RegistraPrestamo',
                        type: 'POST',
                        dataType: 'json',
                        data: { psDocente: docente, psDepartamento: depto }
                    })
                        .done(function (data) {
                            if (typeof (data.Success) !== "undefined" && !data.Success) {
                                MensajesToastr("warning", "Error de proceso", data.Mensaje);
                            }
                            else {
                                MensajesToastr("info", "Solicitud Procesada", "Docente Prestado Correctamente");
                                $('#BodyPrincipal').load('../../../../Academicos/PrestamoDocentes');
                            }
                        })
                        .fail(function (data) {
                            MensajesToastrErrorConexion(data.Mensaje);
                        });
                }
            }

            function Eliminar(Docente, Depto) {

                var opcion = confirm("¿Esta seguro que desea quitar este docente?");
                if (opcion == true) {

                    $.ajax({
                        url: '../../../Academicos/EliminaPrestamo',
                        type: 'POST',
                        dataType: 'json',
                        data: { psDocente: Docente, psDepartamento: Depto }
                    })
                        .done(function (data) {
                            if (typeof (data.Success) !== "undefined" && !data.Success) {
                                MensajesToastr("warning", "Error de proceso", data.Mensaje);
                            }
                            else {
                                MensajesToastr("info", "Solicitud Procesada", "Se quito al docente del departamento");
                                $('#BodyPrincipal').load('../../../../Academicos/PrestamoDocentes');
                            }
                        })
                        .fail(function (data) {
                            MensajesToastrErrorConexion(data.Mensaje);
                        });

                }
            }
        </script>
