html,body{
	width: 100%;
	height: 100%;
	/*background: #f0eff0 url('../../images/overlay.png') repeat;*/
	background-color:black;
}

.btn_send{
	width: 100%;
	color: #efefef;
	background: #00b268;
}

.btn_send:hover{
	background: #007f4a;
	color: #efefef;
}

.alert{
	margin-top: 5%;
}

.alert-danger{
	background-color: #d35351;
	color: #fff;
	transition: .2s;
}

.alert-success{
	background-color:  #00b268;
	color: #fff;
	transition: .2s;
}

.alert-info{
	background-color: #5bc0de;
	color: #fff;
	transition: .2s;
}

.alert-warning{
	background-color: #f0ad4e;
	color: #fff;
	transition: .2s;
}


/*styles scrollbar*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inside 0 0 6px rgba(0,0,0,0.3);
  background-color: #fff;
}

::-webkit-scrollbar
{
  -webkit-appearance:none;
  width: 12px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 12px;
  border:4px solid rgba(255,255,255,0);
  background-clip: content-box;
  background-color: #A0A0A0;
}



.log_g{
	margin-top: 1%;
	margin-bottom: -2%;
	position: relative;
	left: 40%;
}


img{
	width: 40%;
	margin: 0 auto;
	margin-bottom: 2%;
	margin-top:-10px;
}


.img-avatar{
	width: 50px;
	border-radius: 50%;
}


@media (max-width: 1000px){
	
	img{
		width: 20%;
	}
	
	.log_g{
		left: 36%;
		width: 200%;
	}

     .font-texto {
     font-size : .5rem;
}
}

.font-texto {
     font-size : .8rem;
}

.font-mensaje {
     font-size : 1.4rem;
}


.bats-container {
	position: relative;
	width: 100%;
	height: 100%;
}


body {
	background-color:black;
	margin: 0;
	overflow: hidden;
}

.ghost-container {
	width: auto;
}
.ghost-container img {
	max-width: 100px; /* Cambiar esta propiedad para adaptar al tamaño deseado*/
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.bats-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.bat {
	position: absolute;
	width: 220px;
	height: 220px;
	border-radius: 50% 50% 0 0;
	transform: rotate(-45deg);
	transform-origin: 50% 50%;
	animation: fly 5s linear infinite;
	background-image: url('../../images/murcielago.gif');
}

.ghost {
	position: absolute;
	width: 220px;
	height: 220px;
	border-radius: 50% 50% 0 0;
	transform: rotate(-45deg);
	transform-origin: 50% 50%;
	animation: fly 5s linear infinite;
	background-image: url('../../images/ghosts.gif');
}

@keyframes fly {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}

	100% {
		transform: rotate(-45deg) translate(-500px, -500px);
	}
}