<div class="page-title">
    <div class="title_left">
        <h3>Lista <small>de periodos cursados</small></h3>
    </div>
</div>
<div class="clearfix"></div>

@Html.Partial("../Generales/TablaGeneral")
@Html.Partial("../Generales/ModalVisorPDF")

<script type="text/javascript">
    QuitarMostrar();
    ocultar_columnas(0);
    QuitaBuscar();
    DesactivaBotones();
    MostrarTodos();

    function displaySection() {
        $('#divModalVisorPDF').modal('show');
        $("#divCargando").hide();
        $("#divPDF").show();
    }

    function vistaBoleta(periodo, Ncontrol) {

        $("#divCargando").show();
        $("#divPDF").hide();
        $('#divPDF').load('../../../../Reportes/BoletaCalificacionesPDF?psPeriodo=' + periodo + '&psNoControl=' + Ncontrol, displaySection());
    }

</script>