<div class="clearfix"></div>
<div class="page-title">
    <div class="title_left">
        <h3>Residencias Profesionales</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Control Escolar</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="row center-block">

                    <div class="col-sm-6 text-center">
                        <div class="card text-white bg-success mb-3" style="min-height:10rem;">
                            <div class="card-header">Asesorias y Seguimientos</div>
                            <div class="card-body">
                                <p class="card-text">Módulos de registro e impresión de las asesorias, así como los seguimientos.</p>
                                <a class="btn btn-dark" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#BodyPrincipal" href="/Estudiante/AsesoriasRP">
                                    Asesorias
                                </a>
                                <a class="btn btn-dark" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#BodyPrincipal" href="/Estudiante/SeguimientosRP">
                                    Seguimientos
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center" text-white>
                        <div class="card text-white bg-info mb-3">
                            <div class="card-header">Cierre</div>
                            <div class="card-body">
                                <p class="card-text">Modulo para cerrar el proceso de Residencias Profesionales</p>
                                <a class="btn btn-dark" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#BodyPrincipal" href="/Estudiante/LiberacionInformeTecnicoRP">
                                    Liberación de Informe
                                </a>
                                <a class="btn btn-dark" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#BodyPrincipal" href="/Estudiante/InformeSemestralRP">
                                    Informe Semestral
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



