<div class="row">
     <div class="col-md-3 col-sm-3 col-xs-12 form-group">
          <label for="cboCarreraReticula">
               Carrera (Retícula)
          </label>
          <select class="form-control" id="cboCarreraReticula" required></select>
          <div class="help-block with-errors"></div>
     </div>
     <div class="col-md-3 col-sm-3 col-xs-12 form-group">
          <label for="cboEspecialidad">
               Especialidad
          </label>
          <select class="form-control" id="cboEspecialidad" required></select>
          <div class="help-block with-errors"></div>
     </div>
     <div class="col-md-3 col-sm-3 col-xs-12 form-group">
          <label for="cboPeriodo">
               Periodo de Ingreso
          </label>
          <select class="form-control" id="cboPeriodo" required></select>
          <div class="help-block with-errors"></div>
     </div>
     <div class="col-md-3 col-sm-3 col-xs-12 form-group">
          <label for="txtPeriodosRevalidados">
               Periodos Revalidados
          </label>
          <input type="number" class="form-control" id="txtPeriodosRevalidados" value="0" required>
          <div class="help-block with-errors"></div>
     </div>
</div>
<div class="row">
     <div class="col-md-3 col-sm-3 col-xs-8 form-group">
          <label for="cboIngresoPlantel">
               Tipo de Ingreso al Plantel
          </label>
          <select class="form-control" id="cboIngresoPlantel" required></select>
     </div>
     <div class="col-md-3 col-sm-3 col-xs-8 form-group">
          <label for="cboPlanEstudios">
               Plan de Estudios
          </label>
          <select class="form-control" id="cboPlanEstudios" required></select>
     </div>
     <div class="col-md-3 col-sm-3 col-xs-8 form-group">
          <label for="cboNivelEscolar">
               Nivel Escolar
          </label>
          <select class="form-control" id="cboNivelEscolar" required></select>
     </div>
     <div class="col-md-3 col-sm-3 col-xs-8 form-group">
          <label for="cboEstatusAlumno">
               Estatus Alumno
          </label>
          <select class="form-control" id="cboEstatusAlumno" required></select>
     </div>
</div>
     <script src="~/Scripts/ManejoDatos/DatosEscolares.js"></script>
