<div class="clearfix"></div>
<div class="x_panel">
     <form class="form-horizontal form-label-left" action="#" id="frmActividad" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
          <div class="col-md-6 center-margin">
               <h2 class="text-center">Actividades Extraescolares Registradas</h2>
          </div>
          <div class="col-md-12 center-margin">
               <div class="dashboard-widget-content">
                    <ul class="list-unstyled timeline widget">
                         <li>
                              <h5>
                                   <a>En la tabla inferior se presentan las actividades registradas en el periodo actual y anteriores</a>
                              </h5>
                         </li>
                    </ul>
               </div>

               @Html.Partial("../Generales/TablaGeneral")
          </div>
     </form>
</div>
