<script src="~/Scripts/Componentes/daypilot-all.min.js?v=2018.2.3244"></script>

<input type="hidden" id="hidPeriodo" value="@ViewData["txtPeriodo"]" />
<div class="">
     <div class="page-title">
          <div class="title_left">
               <h3>Horario de Actividades <small>@ViewData["txtDescPeriodo"]</small></h3>
          </div>
     </div>

     <div class="clearfix"></div>
     <form class="form-horizontal form-label-left" action="#" id="frmHorarios" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
          <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">
                              <h2>
                                   Horario Semanal <small>@ViewData["txtAula"]</small>
                              </h2>
                              <div class="title_right">
                                   <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
                                        <div class="form-inline">

                                        </div>
                                   </div>
                              </div>
                              <div class="clearfix"></div>
                         </div>
                         @Html.Partial("../Generales/HorarioSemanal")
                    </div>
               </div>
          </div>
     </form>
</div>
<script src="~/Scripts/ManejoDatos/Estudiantes/HorarioActividades.js"></script>