
<div class="clearfix"></div>
<div class="x_panel">
    <form class="form-horizontal form-label-left" action="#" id="frmReticula" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
        <div class="form-group">
            <div id="divReticula">

                <div class="x_title">
                    <h2>Datos del Estudiante: </h2>
                </div>
                <div class="clearfix"></div>
                <div class="row center-block">
                    <div class=" verde casilla-materia col-lg-1">
                        <h5>Acreditada</h5>
                    </div>

                    <div class=" lila casilla-materia col-lg-1">
                        <h5>Cursando</h5>
                    </div>

                    <div class=" amarillo casilla-materia col-lg-1">
                        <h5>Cursada Sin Acreditar </h5>
                    </div>

                    <div class=" naranja casilla-materia col-lg-1">
                        <h5>A Curso Especial </h5>
                    </div>

                    <div class=" rojo casilla-materia col-lg-1">
                        <h5>Curso Esp. Reprobado</h5>
                    </div>

                    <div class=" azul casilla-materia col-lg-1">
                        <h5>Materia posible a seleccionar</h5>
                    </div>

                    <div class=" gris casilla-materia col-lg-1">
                        <h5>Materia no permitida hasta avance</h5>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>





