.scrollup {
        width: 40px;
        height: 40px;
        opacity: 0.3;
        position: fixed;
        bottom: 70px;
        right: 100px;
        display: none;
        text-indent: -9999px;
        background-image: url('../../Images/Img-Galeria/icon_top.png');
    }