/**
 *	This element is created inside your target element
 *	It is used so that your own element will not need to be altered
 **/
.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}

/**
 *	This is all the elements used to house all text used
 * in time circles
 **/
.time_circles > div {
    position: absolute;
    text-align: center;
}

/**
 *	Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Century Gothic', Arial;
    line-height: 1;
}

/**
 *	Time numbers, ie: 12
 **/
.time_circles > div > span {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Century Gothic', Arial;
    line-height: 1;
    font-weight: bold;
}

.compose {
    padding: 0;
    position: fixed;
    top: 60px;
    right: 1%;
    border: 1px solid #D9DEE4;
    z-index: 9999;
    display: none;
    width: 250px;
    height: 0px;
}

    .compose .compose-header {
        padding: 0px;
        background-color: rgb(20, 147, 71);
        color: white;
        text-align: center;
        border-radius: 5px;
    }

        .compose .compose-header .close {
            text-shadow: 0 1px 0 #ffffff;
            line-height: .8
        }

    .compose .compose-body .editor.btn-toolbar {
        margin: 0
    }

    .compose .compose-body .editor-wrapper {
        height: 100%;
        min-height: 50px;
        max-height: 180px;
        border-radius: 0;
        border-left: none;
        border-right: none;
        overflow: auto
    }

    .compose .compose-footer {
        padding: 10px
    }