<div class="clearfix"></d<div class="page-title">
     <div class="title_left">
          <h3>Datos <small>de la Solicitud</small></h3>
     </div>
</div>
<div class="clearfix"></div>
<div class="x_panel">
     <div class="x_title">
          <form class="form-horizontal form-label-left" action="#" id="frmEstatus" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
               Página en desarrollo
                    <div><a href="@Url.Action("FichaAspirante","Reportes",new {id= "PDF"})"> .. </a></div>

          </form>
     </div>
</div> 
<script src="~/Scripts/ManejoDatos/Aspirantes/DatosEstatus.js"></script>