
@using Sapei.Framework.Utilerias;

@{ System.Data.DataTable loDatos = null;
                string lsNombre = "";

                string lsControl = "";
                string lsCarrera = "";
                string lsFecha = "";

                if (ViewData["Datos"] != null)
                {
                    loDatos = ViewData["Datos"] as System.Data.DataTable;
                    if (loDatos.Columns.Count > 0)
                    {

                        lsControl = loDatos.Rows[0].RegresaValor<string>("no_de_control");
                        lsNombre = loDatos.Rows[0].RegresaValor<string>("nombre_alumno");
                        lsCarrera = loDatos.Rows[0].RegresaValor<string>("carrera");
                        lsFecha = loDatos.Rows[0].RegresaValor<string>("fecha_registro");

                    }
                }
}

<div class="modal fade" id="divModalCartaResponsiva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-3 col-md-offset-8">
                                    <h5>
                                        Instituto Tecnológico de Tláhuac
                                        Dirección
                                    </h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h3> Carta Responsiva </h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="text-justify col-md-12">
                                    <p>
                                        A quien Corresponda:

                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                    </p>
                                    <p>
                                        Por medio de la presente manifiesto que acatare y respetare en su totalidad la normatividad
                                        establecida en el Reglamento de Alumno que rige el Tecnológico Nacional de México al
                                        cual pertenece el Instituto Tecnológico de Tláhuac, y cualquier otro reglamento interno que maneje
                                        dicho Instituto, del mismo modo manifiesto mi completa disposición a cumplir con las sanciones que,
                                        de acuerdo con lo establecido en los ya mencionados reglamentos, correspondan a cualquier falta en la que incurra.
                                    </p>
                                </div>
                            </div>

                            <div class="row"></div>
                            <div class="row"></div>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <div class="row">
                                <div class=" col-md-12">
                                    <p><strong>Nombre:</strong>  &nbsp; @lsNombre</p>
                                    <p><strong>No. de Control:</strong> &nbsp; @lsControl</p>
                                    <p><strong>Carrera:</strong> &nbsp; @lsCarrera</p>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 center-block">
                                    <a id="btnFirmar" class="btn btn-info" data-toggle="modal" data-target="#divModalFirmaElectronica" onclick="OcultaModal('CartaResponsiva');">Firmar</a>
                                    <input value="" id="Valor" hidden />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


