<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sapei.Reportes.Properties.Settings.bdtecConnectionString" connectionString="Data Source=192.168.9.247;Initial Catalog=bdtec;Persist Security Info=True;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="Sapei.Reportes.Properties.Settings.bdprueba" connectionString="Data Source=192.168.9.247;Initial Catalog=bdtec;Persist Security Info=True;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="Sapei.Reportes.Properties.Settings.bdtec248" connectionString="Data Source=192.168.9.248;Initial Catalog=bdtec;User ID=SA" providerName="System.Data.SqlClient" />
        <add name="Sapei.Reportes.Properties.Settings.bdtecConnectionStringFer" connectionString="Data Source=DESKTOP-ONINPQ8\SQLFER;Initial Catalog=bdtec;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
        <add name="Sapei.Reportes.Properties.Settings.bdtecConnectionStrngFer2" connectionString="Data Source=LAPTOP-R6KNOIQQ\SQLFER;Initial Catalog=bdtec;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
        <add name="Sapei.Reportes.Properties.Settings.bdtec245" connectionString="Data Source=192.168.9.245;Initial Catalog=bdtec;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="Sapei.Reportes.Properties.Settings.bdtecConnectionString1" connectionString="Data Source=DESKTOP-G2NIAVK\SQLEXPRESS;Initial Catalog=bdtec;User ID=sa" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
     
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
