
<input type="hidden" id="hidPeriodo" value="@ViewData["periodo"]" />

<div class="page-title">
     <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-left">
          <h3>Listas de actividades con estudiantes inscritos <small>@ViewData["descPeriodo"]</small></h3>
     </div>
</div>
<div class="x_panel">
     <div class="x_title">
          <h3>Cargar Listas de Calificaciones <small>@ViewData["descPeriodo"]</small></h3>
     </div>
     <div class="col-md-10 center-margin center-block">
          <div class="x_content">
               <p>
                    Este proceso se encarga de registrar las calificaciones por grupo de tutoría con estudiantes inscritos.
               </p>
               <p>
                    Los archivos cargados deben estar en formato CSV y codifcicación UTF-8. Así mismo deben tener las columnas y orden siguiente:  grupo, no. de control, nombre y promedio.
               </p>
               <p>
                    Si se requiere, puede bajar el formato de cada una de sus listas en la tabla inferior, seleccionando el ícono de descarga de cada tutoría que imparta. Despúes de descargar sólo debe colocar el promedio obtenido de cada estudiante y volver a subir el archivo.
               </p>

               <p>  
                    Para cargar los archivos, de clic en examinar y busque el archivo aregistrar, despues de clic en Subir archivo.
                    Debe seleccionar y cargar uno a uno los archivos de cada tutoría registrada, despues de cargar será validada la información.
               </p>
               <div class="file-loading">
                    <input id="txtFile" name="txtFile[]" type="file" multiple>
               </div>
          </div>
     </div>
</div>
@Html.Partial("../Generales/TablaGeneral")


<script src="~/Scripts/Componentes/fileinput.js"></script>
<script src="~/Scripts/Idiomas/es.js"></script>
<script>
     $(document).ready(function () {
          $('#txtFile').fileinput('reset');
     });
     $('#txtFile').fileinput({
          uploadAsync: false,
          language: 'es',
          showPreview: false,
          showCaption: true,
          showUpload: true,
          minFileCount: 1,
          maxFileCount: 1,
          uploadUrl: '../../../DesarrolloAcademico/CargaCalificacionJson',
          allowedFileExtensions: ['csv']
     });

     $('#txtFile').on('filebatchuploadsuccess', function (event, data) {
          var form = data.form, files = data.files, extra = data.extra,
              response = data.response, reader = data.reader;
          if (response.Success == true) {
               MensajesToastr("info", "Solicitud Procesada", "El archivo se cargo correctamente");
               $('#BodyPrincipal').load('../../../../DesarrolloAcademico/CargaCalificacion');
          }
          else {
               MensajesToastr("info", "Solicitud Procesada", "Error " + response.Mensaje);
          }
     });
     $('#txtFile').on('filebatchuploadcomplete', function (event, files, extra) {
          //alert('File batch upload complete');
     });
     $('#txtFile').on('filebatchuploaderror', function (event, data, msg) {
          MensajesToastr("info", "Solicitud Procesada", "El archivo no tiene el formato correcto");
     });
</script>