<div class="page-title">
     <div class="x_title ">
          <h2>@ViewData["titulo_consulta"]</h2>
          <div id="divTabla" class="">
               @Html.Partial("../Generales/TablaGeneral")
          </div>
     </div>
</div>
<div class="clearfix"></div>

