<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Ejemplares</h3>
        </div>
    </div>
    @Html.Partial("ModalElimina")
</div>

@Html.Partial("../Generales/TablaGeneral")
<script src="~/Scripts/ManejoDatos/CentroInformacion/Ejemplares.js"></script>