<div class="page-title">
     <div class="title_left">
          <h3>Eliminar <small>registro de actividades extraescolares</small></h3>
     </div>
</div>
<div class="clearfix"></div>
<div class="x_panel">
     <form class="form-horizontal form-label-left" action="#" id="frmEntrenadores" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
          <input type="hidden" id="hidId" value="0" />
          <div class="x_title">
               <h2>Relación de estudiantes inscritos</h2>
               <div class="clearfix"></div>
          </div>
          <div class="x_content">
               <p>
                    Este módulo permite eliminar las actividades registradas por estudiantes, para ello de doble clic sobre la fila a eliminar.
               </p>
          </div>
     </form>
</div>
@Html.Partial("../Generales/TablaGeneral")


<script src="~/Scripts/ManejoDatos/ExtraEscolares/BajaActividadEstudiante.js"></script>